@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el Header */

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafc;
}

.sidebar {
    background-color: #1f5ac1;
    color: white;
}

.sidebar a {
    color: #cbd5e0;
}

.sidebar a:hover {
    background-color: #4a5568;
    color: white;
}

.header {
    background-color: #ffffff;
    border-bottom: 2px solid #4c51bf;
}

.header .breadcrumbs {
    color: #4c51bf;
    font-size: 40px;
}

.header .user-menu button {
    color: #4a5568;
}

.header .user-menu button:hover {
    background-color: #e2e8f0;
}

.main-content {
    background-color: #edf2f7;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(44, 159, 204, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(36, 114, 198, 0.15);
}

.card-header.bg-primary {
    background-color: #007bff !important;
    color: #fff;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.container {
    margin-top: 20px;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.qr-image {
    width: 150px; /* Cambia el tamaño aquí */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.2s; /* Transición suave al hacer hover */
}

.qr-image:hover {
    transform: scale(1.1); /* Aumenta un 10% al pasar el mouse */
}